<<<<<<< HEAD
html, body {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
=======
/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 20
 * URL: http://LandingSumo.com
 * Version: 1.0
 * Exclusive Freebie for BlackTie.co
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);



* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: black; 
	margin: 0; 
	color: white;

>>>>>>> 50e8c39bf9c1d3242e5231a21e2aa8a0468ea998
}

.main-container {
	height:100%;
	width:100%;
	background-size: 100% 100%;
	margin-top: 0%;
}




#hamburger {
  display: none;
}

.menu {
	display: block;
 	background-color:#387ef5;
	width: 0%;
	height: 100%;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menuicon {
	position: absolute;
	display: block;
	cursor: pointer;
	height: 21px;
	width: 25px;
}

.menuicon span {
	display: block;
	top: 8px;
	width: 25px;
	height: 5px;
	background-color: #fff;
	position: relative;
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-ms-transition-duration: 0;
	-o-transition-duration: 0;
	transition-duration: 0;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menuicon span::after, .menuicon span::before {
	display: block;
	content: '';
	position: absolute;
	width: 25px;
	height: 5px;
	background-color: #fff;
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0;
	-moz-transition-delay: 0.2s, 0;
	-ms-transition-delay: 0.2s, 0;
	-o-transition-delay: 0.2s, 0;
	transition-delay: 0.2s, 0;
}

.menuicon span::before {
	margin-top: -8px;
}

.menuicon span::after {
	margin-top: 8px;
}



#hamburger:checked ~ .menuicon span {
	background-color: transparent;
}

#hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
	margin-top: 0px;
	-webkit-transition-delay: 0, 0.2s;
	-moz-transition-delay: 0, 0.2s;
	-ms-transition-delay: 0, 0.2s;
	-o-transition-delay: 0, 0.2s;
	transition-delay: 0, 0.2s;
}


/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 20%;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 20%;
	width: 0%;
	height: 100%;
	margin-left: -20%;
	overflow-y: auto;
	background: #387ef5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 17.6%;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -20%;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 20%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;

}


.sidebar-nav li:hover {
    text-decoration: none !important;
    color: #fff !important;
    background: #7797B8 !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 23px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

a.login-link: active {
	font-size:150%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 20%;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 20%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
